@{
    ViewBag.Title = "Información";
}

<div id="alertAbout" class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" arialabel="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <figure>
        <img id="img-about" src="~/Content/Images/logo.jpg">
    </figure>
    <article>
        <p>Sistema de veterinaria con módulos para la gestión de turnos, clientes, pacientes, médicos y especies.</p>
        <hr />
        <p>Materia: Arquitectura Web</p>
        <p>Carrera: Licenciatura en Gestión de Tecnologías de la Información</p>
        <p>UNPaz (Universidad Nacional de José c. Paz)</p>
        
    </article>
</div>
