@{
    ViewBag.Title = "Contacto";
}

<div id="alertContact" class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" arialabel="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>Arquitectura Web</h3>

    <h5 class="subrayado">Grupo 5</h5>
    <address>
        <p>Emiliano Morel: <a href="mailto:emiliano.morel.34@gmail.com" class="alert-link">emiliano.morel.34@gmail.com</a></p>
        <p>Darío Rodríguez: <a href="mailto:barcain@gmail.com" class="alert-link">barcain@gmail.com</a></p>
        
    </address>
</div>

    