@{
    ViewBag.Title = "Arquitectura Web - UNPaz";
}

<section>
    <figure>
        <a href="http://www.unpaz.edu.org">
            <img src="~/Content/Images/logo.jpg">
        </a>  
    </figure>
    <article>
        <h3>Arquitectura Web</h3>
        <h5 class="subrayado">Profesores</h5>
        <p>Daniel Fernández</p>
        <p>Víctor Contreras</p>

        <h5 class="subrayado">Grupo 5</h5>
        <p>Emiliano Morel</p>
        <p>Darío Rodríguez</p>
        <p>Gabriel Dávila</p>
    </article>
</section>

<aside id="aside-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#bestSellers" data-slide-to="0" class="active"></li>
        <li data-target="#bestSellers" data-slide-to="1"></li>
        <li data-target="#bestSellers" data-slide-to="2"></li>
        <li data-target="#bestSellers" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/img1.jpg">
        </div>
        <div class="item">
            <img src="~/Content/Images/img2.jpg">
        </div>
        <div class="item">
            <img src="~/Content/Images/img3.jpg">
        </div>
        <div class="item">
            <img src="~/Content/Images/img4.jpg">
        </div>
    </div>
</aside>

