body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Controls that the logo and carousel align side by side */
section {
    width: 35%;
    float: left !important;
    align-content: center;   
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

aside {
    width: 65%;
    float: left !important;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

article p {
    margin: 0px;
}

article h5 {
    margin-bottom: 3px;
}
footer {
    clear: both;
    text-align: center;
    margin: 0px;
}

.subrayado {
    text-decoration: underline;
}

#aside-carousel {
    width: 640px;
    height: 480px;
}

#img-about {
    width:50%;
    margin-bottom: 20px;
}

#alertAbout {
    width: 400px;
    margin: 2%;
    text-align: center;
}

#alertContact {
    width: 400px;
    margin: 2%;
    text-align: center;
}
