@model mvcPet.Entities.FechaTurno
@{
    ViewBag.Title = "Index";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")

    <link href='~/Scripts/FullCalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/Scripts/FullCalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/Scripts/FullCalendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href='~/Scripts/FullCalendar/packages/list/main.css' rel='stylesheet' />
    <script src='~/Scripts/FullCalendar/vendor/rrule.js'></script>
    <script src='~/Scripts/FullCalendar/packages/core/main.js'></script>
    <script src='~/Scripts/FullCalendar/packages/core/locales-all.js'></script>
    <script src='~/Scripts/FullCalendar/packages/interaction/main.js'></script>
    <script src='~/Scripts/FullCalendar/packages/daygrid/main.js'></script>
    <script src='~/Scripts/FullCalendar/packages/timegrid/main.js'></script>
    <script src='~/Scripts/FullCalendar/packages/list/main.js'></script>
    <script src='~/Scripts/FullCalendar/packages/rrule/main.js'></script>
   
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'rrule'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                defaultDate: '2019-08-12',
                locale: 'es',
                buttonIcons: true, // show the prev/next text
                weekNumbers: false, //show week number on the left
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events

                events: [
        {
            title: 'All Day Event',
            start: '2019-08-01'
        },
        {
            title: 'Long Event',
            start: '2019-08-07',
            end: '2019-08-10'
        },
        {
            groupId: 999,
            title: 'Repeating Event',
            start: '2019-08-09T16:00:00'
        },
        {
            groupId: 999,
            title: 'Repeating Event',
            start: '2019-08-16T16:00:00'
        },
        {
            title: 'Conference',
            start: '2019-08-11',
            end: '2019-08-13'
        },
        {
            title: 'Meeting',
            start: '2019-08-12T10:30:00',
            end: '2019-08-12T12:30:00'
        },
        {
            title: 'Lunch',
            start: '2019-08-12T12:00:00'
        },
        {
            title: 'Meeting',
            start: '2019-08-12T14:30:00'
        },
        {
            title: 'Happy Hour',
            start: '2019-08-12T17:30:00'
        },
        {
            title: 'Dinner',
            start: '2019-08-12T20:00:00'
        },
        {
            title: 'Birthday Party',
            start: '2019-08-13T07:00:00'
        },
        {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2019-08-28'
        }
                ],
                eventClick: function (arg) {
                    if (confirm('delete event?')) {
                        arg.event.remove()
                    }
                }
            });

            calendar.render();
        });
    </script>

</head>

<body>

    <h2 class="text-center">Turnos</h2>

    <div id='calendar'></div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
  


